.Main-container-Admin{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to top, #7bafdf ,#df71b6);
  display: flex;
  align-items: center;
  justify-content: center;

  .Password{
    padding: 20px;
    background: white;
    width: 300px;
    text-align: center;

    input{
      margin: 10px 0;
    }

    span{
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color:#9b447b;
      font-weight: 900;
    }
  }
}

.main-container-trueAdmin{
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #faacac;
    left: 0;
    right: 0;
    top: 0;

    button{
      font-size: 20px;
      color: white;

      &:hover{
        color: red;
      }
    }
  }
}