.main-container-ListReview{
  display: flex;
  justify-content: center;
  background: url(../../helpers/img/font09.jpg) no-repeat;
  background-size: 100%;
  padding-top: 230px;
  padding-bottom: 50px;
}